@media(max-width:760px){

    #ico{
        display: none;
    }

    .subtitle{
        display:inline;
        text-align: left;
        margin-bottom: 8%;
        font-size: 30px;
    }

    .subtitle_work{
        display:inline;
        text-align: left;
        margin-bottom: 10%;
        font-size: 30px;
    }

    .info{
        text-align: center;
    }

    .info_work{
        margin-top: 5%;
    }
}